@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: rgba(247, 248, 251, 1);
  --line-color: rgba(0, 32, 51, .05);
  --text-color: rgba(0, 32, 51, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: rgba(57, 57, 61, 1);
    --line-color: rgba(255, 255, 255, 0.025);
    --text-color: rgba(255, 255, 255, 0.8);
  }
}

#root {
  display: contents;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;

  background-color: var(--background-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
